html,
body {
    height: 100%;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    font-family: 'Permanent Marker', cursive;
}

#message-pane {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQNDkuYm0YIEs6uz08BJ5fvOAjHYYIFMR4IkaE6c4EkMAzyhqKc");
    background-position: center;
}

#form-card {
    margin: 0px;
}

.material-icons {
    font-size: 48px !important;
    font
}

.message-card {
    max-width: 75%;
    border-radius: 10px;
    padding: 10px;
    font-size: 14px;
}